main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-width: 90%;
}

main form {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	gap: 3vh;
	background: var(--g);
	border-radius: 2vh;
	padding: 2vh;
	max-width: 90%;
}

main form div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-width: 90%;
	max-width: 90%;
}

main form div.row {
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	gap: 2vh;
}

main form div img {
	width: 7.5vh;
	height: 7.5vh;
	border-radius: 50%;
}

main form div h2 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	font-size: medium;
	font-weight: 300;
}

main form div p {
	margin: 0;
	max-width: 90%;
}
main form div ul {
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	min-width: 80%;
}
main form div ul li {
	font-size: small;
	text-align: left;
}

main div input {
	height: 3vh;
	width: 300px;
	max-width: 100%;
	background: transparent;
	color: var(--c);
	border: none;
	font-size: medium;
	padding: 1vh 2vh;
	text-align: left;
	font-weight: 300;
	font-family: Lato;
}

main div input:focus {
	outline: none;
	background: transparent;
	box-shadow: none;
	-webkit-appearance: none;
	appearance: none;
	-webkit-tap-highlight-color: transparent;
	-webkit-focus-ring-color: transparent;
}

main form small {
	font-size: xx-small;
	max-width: 250px;
}

main form button {
	background: var(--c);
	border: none;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 5vh;
	border-radius: 0 1vh 1vh 0;
}

button#passkey,
button#otc {
	transform: translate(1vh);
	padding-right: 2vh;
}

main form button svg {
	width: 4vh;
	height: 4vh;
}

main form button:hover,
main form button:focus {
	cursor: pointer;
}

main form button#no-passkey {
	background: transparent;
}

main form button#no-passkey:hover,
main form button#no-passkey:focus {
	outline: none;
	text-decoration: underline;
}

main form div#field {
	border: solid 0.3vh var(--c);
	border-radius: 1vh;
	overflow: hidden;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
	box-shadow: 0 0 0 1000px transparent inset !important;
	background-color: transparent !important;
	-webkit-text-fill-color: var(--c) !important;
	caret-color: var(--c);
	transition: background-color 9999s ease-in-out 0s;
	font-size: medium;
	font-family: Lato;
}
