footer {
	position: fixed;
	bottom: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 10vh;
}

footer nav {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10%;
}
footer nav small a {
	text-decoration: none;
	color: var(--c);
}

footer nav small a:hover,
footer nav small a:focus {
	outline: none;
	text-decoration: underline;
}
